<div class="container full-screen   ">
    <div class="row w-100">
        <div class="channel col-sm-4" routerLink="../arena">
            AI Moderated Debate
            <img class="channel_img" src="debate.png" />
        </div>
        <div class="channel col-sm-4">
            Coming Soon
        </div>
        <div class="channel col-sm-4">
            Coming Soon
        </div>
    </div>
    <div class="row w-100">
        <div class="channel col-sm-4">
            Coming Soon
        </div>
        <div class="channel col-sm-4">
            Coming Soon
        </div>
        <div class="channel col-sm-4">
            Coming Soon
        </div>
    </div>
    <div class="row w-100">
        <div class="channel col-sm-4">
            Coming Soon
        </div>
        <div class="channel col-sm-4">
            Coming Soon
        </div>
        <div class="channel col-sm-4">
            Coming Soon
        </div>
    </div>
</div>