<div class="homepage d-flex flex-column align-items-center justify-content-center">
  <div class="text-center hero">
    <h1 id="site_title" class="display-2 fw-bold mb-2">Resurrecting the Truth</h1>
    <p class="lead text-muted mb-5">The age of deceit has ended.</p>
    <button class="btn btn-primary btn-lg px-5" routerLink="arena">Start</button>
  </div>
    <div class="container" id="footer">
        <div class="row row2">
            Powered by<img id="gemini" src="google_gemini_logo.jpg" />
        </div>
        <div class="row row2"><small>Produced at Birminghack 2.0 2026 by the Indecisive Hackers</small></div>
    </div>
</div>
